{% extends "admin/base_site.html" %}
{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- LOADING -->
{% load i18n l10n admin_urls admin_static %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "grappelli/jquery/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highcharts/highcharts.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/comum.css" %}" />
    <script type="text/javascript" src="{% static "js/comum.js" %}"></script>

    <style>
    a.grp-button {
        height: 45px;
    }
    </style>
    {% include 'includes/report_js.html'%}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c">
        {% if request.user.is_superuser %}
        <div>
            <h1>Alterar usuário</h1>
            {% for u in usuarios %}
            <a href="{% url 'home' %}?usuario={{u.id}}" class="grp-button {%if u.id == usuario.id %}grp-delete-link{% endif %}">{{u.first_name}}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div>
        <h1>{{agora|date:"l - H:i - d \d\e F \d\e Y"}}</h1>
        <h2>Olá, {{usuario.first_name}}</h2>
        </div>
        <div>
        <br/><h3>Hoje você já trabalhou: {{fim.total_string}}</h3>
        </div>
        <br>
        <div id="container-maior">
            <a href="{% if not entrada.entrada %}{% url 'registrar' 'entrada' %}{% endif %}" class="grp-button button-home {% if not entrada.entrada %}grp-delete-link{% endif %}">{% if entrada.entrada %}Entrada registrada<br/>{{entrada.entrada|date:"H:i"}}{% else %}Registrar entrada<br/>{{agora|date:"H:i"}}{% endif %}</a>
            <a href="{% if not entrada.saida_almoco %}{% url 'registrar' 'saida_almoco' %}{% endif %}" class="grp-button button-home {% if not entrada.saida_almoco %}grp-delete-link{% endif %}">{% if entrada.saida_almoco%}Saída para almoço registrada<br/>{{entrada.saida_almoco|date:"H:i"}}{% else %}Registrar saída para almoço<br/>{{agora|date:"H:i"}}{% endif %}</a>
            <a href="{% if not entrada.volta_almoco %}{% url 'registrar' 'volta_almoco' %}{% endif %}" class="grp-button button-home {% if not entrada.volta_almoco %}grp-delete-link{% endif %}">{% if entrada.volta_almoco%}Volta do almoço registrada<br/>{{entrada.volta_almoco|date:"H:i"}}{% else %}Registrar volta do almoço<br/>{{agora|date:"H:i"}}{% endif %}</a>
            <a href="{% if not entrada.saida %}{% url 'registrar' 'saida' %}{% endif %}" class="grp-button button-home {% if not entrada.saida %}grp-delete-link{% endif %}">{% if entrada.saida%}Saída registrada<br/>{{entrada.saida|date:"H:i"}}{% else %}Registrar saída<br/>{{agora|date:"H:i"}}{% endif %}</a>
        <div>
        <br>
        <div>
        <h2>
            <form id="form_range" action="" method="GET">
                Relatório de <select class="form_select" name="inicio">{% for label, value in lista_dias %}<option value="{{value}}" {% if label == inicio.dia|date:"d/m/Y" %}selected="selected"{% endif %}>{{label}}</option>{% endfor %}</select> à <select class="form_select" name="fim">{% for label, value in lista_dias %}<option value="{{value}}" {% if label == fim.dia|date:"d/m/Y" %}selected="selected"{% endif %}>{{label}}</option>{% endfor %}</select>
                <input type="hidden" name="usuario" value="{{usuario.id}}">
            </form>
        </h2>
        <br>
        {% include 'includes/report_table.html' %}
        </div>
    </div>
{% endblock %}