{% extends "admin/base_site.html" %}
{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- LOADING -->
{% load i18n l10n admin_urls admin_static %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "grappelli/jquery/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highcharts/highcharts.js" %}"></script>
    <style>
    a.grp-button {
        height: 45px;
    }
    </style>
    {% include 'includes/report_js.html'%}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c">
        {% if request.user.is_superuser %}
        <div>
            <h1>Alterar usuário</h1>
            {% for u in usuarios %}
            <a href="{% url 'home' %}?usuario={{u.id}}" class="grp-button">{{u.first_name}}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div>
        <h1>{{agora|date:"l - H:i - d \d\e F \d\e Y"}}</h1>
        <h2>Olá, {{usuario.first_name}}</h2>
        </div>
        <br>
        <div>
            <a href="{% url 'registrar' 'entrada' %}" class="grp-button {% if not entrada.entrada %}grp-delete-link{% endif %}">{% if entrada.entrada %}Entrada registrada<br/>{{entrada.entrada|date:"H:i"}}{% else %}Registrar entrada<br/>{{agora|date:"H:i"}}{% endif %}</a>
            <a href="{% url 'registrar' 'saida_almoco' %}" class="grp-button {% if not entrada.saida_almoco %}grp-delete-link{% endif %}">{% if entrada.saida_almoco%}Saída para almoço registrada<br/>{{entrada.saida_almoco|date:"H:i"}}{% else %}Registrar saída para almoço<br/>{{agora|date:"H:i"}}{% endif %}</a>
            <a href="{% url 'registrar' 'volta_almoco' %}" class="grp-button {% if not entrada.volta_almoco %}grp-delete-link{% endif %}">{% if entrada.volta_almoco%}Volta do almoço registrada<br/>{{entrada.volta_almoco|date:"H:i"}}{% else %}Registrar volta do almoço<br/>{{agora|date:"H:i"}}{% endif %}</a>
            <a href="{% url 'registrar' 'saida' %}" class="grp-button {% if not entrada.saida %}grp-delete-link{% endif %}">{% if entrada.saida%}Saída registrada<br/>{{entrada.saida|date:"H:i"}}{% else %}Registrar saída<br/>{{agora|date:"H:i"}}{% endif %}</a>
        <div>
        <div>
        {% if entrada %}<br/><h3>Hoje você já trabalhou: {{entrada.ate_agora}}</h3>{% endif %}
        </div>
        <br>
        <div>
        <h2>Relatório dos últimos 30 dias</h2>
        {% include 'includes/report_table.html' %}
        </div>
    </div>
{% endblock %}