{% extends "admin/base_site.html" %}
{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- LOADING -->
{% load i18n l10n admin_urls admin_static %}

{% block javascripts %}
    {% include 'includes/report_js.html'%}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li>Relatório</li>
    </ul>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c">
    {% include 'includes/report_table.html' %}
    </div>
{% endblock %}