{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- LOADING -->
{% load i18n l10n admin_urls admin_static %}
<div style="width: 2000px;">
    <table style="float: left">
        <thead>
            <tr><th></th><th>Dia</th><th>Entrada</th><th>Saída para almoço</th><th>Retorno do almoço</th><th>Saída</th><th>Total</th><th>Extra</th><th>Defícit</th><th>Comentário</th></tr>
        </thead>
        <tbody>
            {% for e in entradas %}
                {% if e.inexistente %}
                <tr style="background: #FAFAFA; color: #CCCCCC !important">
                    <td>{{e.dia|date:"D"}}</td>
                    <td>{{e.dia}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% elif e.abonado %}
                <tr style="background: #D6FFE0; color: #CCCCCC !important">
                    <td>{{e.dia|date:"D"}}</td>
                    <td>{{e.dia}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{e.comentario_curto}}</td>
                </tr>
                {% else %}
                <tr {% if e.fim_de_semana %}style="background: #CACACA"{% elif e.folga %}style="background: #D6FFFF"{% endif %}>
                    <td>{{e.dia|date:"D"}}</td>
                    <td>{{e.dia}}</td>
                    <td {% if not e.entrada and not e.fim_de_semana and not e.folga %}style="background: #FFCECE"{% endif %}>{{e.entrada|default_if_none:""}}</td>
                    <td>{{e.saida_almoco|default_if_none:""}}</td>
                    <td>{{e.volta_almoco|default_if_none:""}}</td>
                    <td {% if not e.saida and not e.fim_de_semana and not e.folga %}style="background: #FFCECE"{% endif %}>{{e.saida|default_if_none:""}}</td>
                    <td>{{e.total}}</td>
                    <td>{{e.extra}}</td>
                    <td>{{e.deficit}}</td>
                    <td>{{e.comentario_curto}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
<!--         </table>
    <br/>
    <table>
-->            <thead>
            <tr><th></th><th></th><th></th><th>Entrada média</th><th>Saída média</th><th>Total desejado</th><th>Total trabalhado</th><th>Extras total</th><th>Déficit total</th><th style="font-size: 1.1em">Saldo final</th></tr>
        </thead>
            <tr><td></td><td></td><td></td><td>{{entrada_media.2}}</td><td>{{saida_media.2}}</td><td>{{total_alvo}}</td><td>{{total_trabalhado}}</td><td>{{total_extra}}</td><td>{{total_deficit}}</td><td style="font-size: 1.1em">{{saldo_string}}</td></tr>
    </table>
    <div id="container" style="float: left; width: 450px; height: {% widthratio entradas|length 1 37 %}px; background: #0000FF; margin-left: 10px;"></div>
</div>